<div class="container customMt-5">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form action="">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <h1 class="card-title">Reset Password</h1>
              </div>
              <div class="col-md-12 customTAC">
                <!-- <h1 class="customTItleCardBis"> {{ Nom  }} {{ Prénom  }} </h1> -->
                <h1 class="customTitleCardBis"> Javier Blasco </h1>
              </div>
              <div class="col-md-12 mt-5">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="firstConfirm">new Password</span>
                  </div>
                  <input type="text" class="form-control" name="firstConfirm" aria-label="firstConfirm" aria-describedby="firstConfirm">
                </div>
              </div>
              <div class="col-md-12 mt-4">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="secondConfirm">Confirm New Password</span>
                  </div>
                  <input type="text" name="secondConfirm" class="form-control" aria-label="secondConfirm" aria-describedby="secondConfirm">
                </div>
              </div>
              <div class="col-md-12 mt-5 customTAC">
                <button type="submit" class="btn btn-primary">Reset password</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
