<button [routerLink]="['/add-casier']" class="customBtn btn btn-primary">Ajouter un Casier</button>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nom</th>
    <th scope="col">Prénom</th>
    <th scope="col">Numéros de Casier</th>
    <th scope="col">Plus d'informations</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Nicolas</td>
    <td>Richard</td>
    <td>3821934</td>
    <td><a class="btn btn-primary customBtnBis"> Voir le Casier Judiciaire</a></td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Fredo</td>
    <td>Campbell</td>
    <td>4910438</td>
    <td><a class="btn btn-primary customBtnBis"> Voir le Casier Judiciaire</a></td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Anton</td>
    <td>kouban</td>
    <td>2019384</td>
    <td><a class="btn btn-primary customBtnBis"> Voir le Casier Judiciaire</a></td>
  </tr>
  </tbody>
</table>
