<div class="row">
  <div class="col-md-12 customTAC">
    <h1 class="customTitle">Générateur de Fréquences</h1>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12 customTAC">
            <p class="customCount">5h34</p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row mt-5 mb-4">
          <div class="col-md-6 customTAC">
            <div class="row">
              <div class="col-md-12">
                <h1 class="customTitleBis">fréquence Courte</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="customCount">{{ freqC }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <button class="btn btn-primary" (click)="RadioCourte()">Nouvelle Fréquence</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 customTAC">
            <div class="row">
              <div class="col-md-12">
                <h1 class="customTitleBis">fréquence longue</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="customCount">{{ freqL }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary" (click)="RadioLongue()">Nouvelle Fréquence</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
