<table class="table mt-4 ">
  <thead class="thead">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Titre du rapport</th>
    <th scope="col">Auteur du rapport</th>
    <th scope="col">Voir le rapport</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Rapport D'intervention du 26/11</td>
    <td>Cadet Fernandez</td>
    <td><a class="btn btn-primary customBtn"> Voir +</a> </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Rapport d'Arrestation du 27/11</td>
    <td>Cadet Alvarez</td>
    <td><a class="btn btn-primary customBtn"> Voir +</a> </td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Arrestation de Mr Kouban </td>
    <td>Cadet Costa</td>
    <td><a class="btn btn-primary customBtn"> Voir +</a></td>
  </tr>
  </tbody>
</table>
