<div class="row">
  <div class="col-md-12 customTAC">
    <h1 class="customTitle">Derniers Rapport de Mission</h1>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">

          <div class="col-md-12 mt-3 mb-2 ">
            <button class="btn btn-primary">Voir les rapports</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Rapports</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td scope="row">Arrestation 12/10, Trafic de Drogue</td>
            <td>
              <a class="btn btn-primary customBtn">Voir +</a>
            </td>
          </tr>
          <tr>
            <td scope="row">Nordique, Identité Moca alias Mathéo Denaro</td>
            <td>
              <a class="btn btn-primary customBtn">Voir +</a>
            </td>
          </tr>
          <tr>
            <td scope="row">Biker, Identité Gocho alias Julien Teller</td>
            <td>
              <a class="btn btn-primary customBtn">Voir +</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
